bcrypt==3.2.0
cffi==1.14.4
click==7.1.2
cryptography==3.3.1
Flask==1.1.2
future==0.18.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
netmiko==3.3.2
ntc-templates==1.6.0
paramiko==2.7.2
pycparser==2.20
PyNaCl==1.4.0
pyserial==3.5
scp==0.13.3
six==1.15.0
tenacity==6.2.0
textfsm==1.1.0
Werkzeug==1.0.1
