<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <script src="{{url_for('static', filename='js/jquery_351.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/tree.css')}}"/>
  </head>
  <body>
  <fieldset align="center">
    <legend>Interface Details</legend>
    <p></p>
    <div id="main_form">
      <label for="iname">Interface Name:</label>
      <span><input type="text" class="w3-input" id="iname" name="iname" /></span>
      <p><button type="button" id="submitt">Submit</button></p>
    </div>
    <div></div>
    <p><table id="interface_table"></table></p>
  </fieldset>
    <script>
        $("#submitt").click(function(){
          console.log($("input:text").val());
          $.ajax({
            url: '/get_interface/' + $("input:text").val(),
            dataType: 'json',
            type: 'GET',
            success: function(json) {
              tr = "";
              if(jQuery.isEmptyObject(json)){
                tr = "<tr><td>No Data Found</td></tr>"
              } else {
                $.each(json, function(key,val){
                    tr += '<tr><td>'+key+'</td><td>'+val+'</td></tr>';
                });              
              }

              $('#interface_table').html(tr);
            },
            error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
          });          
        });
    </script>
  </body>
</html>


