
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

#interface_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#interface_table th,
#interface_table td {
    padding: 12px 15px;
}
#interface_table tr {
    border-bottom: 1px solid #dddddd;
}

#interface_table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#interface_table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#interface_table tr.active-row {
    font-weight: bold;
    color: #009879;
}